@{
    ViewBag.Title = "About Budgomatic";
}

<h2>Budgomatic</h2>
<div>Manage your budget easily</div>
<ul>
<li>Keep track of account balances</li>
<li>Support for income, expense and transfer transactions</li>
</ul>
